$key-color: #f3f4f8;
$active-color: #ffcaca;
$lang-color: #f3f4f8;
$fn-color: #dddee2;

body {
    background-color: blanchedalmond; 
}
.key {
    background-color: $key-color;
    min-width: 3.9%;
    width: max-content;
    margin: 0.2%;
    border-radius: 15%;
    text-align: center;
    padding: 1%;
    transition: all 0.3s;
    cursor: pointer;
    &_fn {
        background-color: $fn-color;
        min-width: 7%;
        flex-grow: 1;
    }
    // Enter
    &:nth-child(42) {
        width: 14%;
    }
    // LeftShift
    &:nth-child(43) {
        width: 14%;
    }
    &:nth-child(n+54) {
        min-width: 4.8%;
    }
    &:nth-child(55) {
        flex-grow: 0;
    }
    &:nth-child(55) {
        flex-grow: 0;
        min-width: 3.8%;
    }
    //lang
    &:nth-child(57) {
        background-color: $lang-color;
    }
    &:nth-child(59) {
        min-width: 39.8%;
    }
}
.pressed {
    background-color: lighten($key-color,20%);
    box-shadow: 0 0 14px darken($active-color, 20%);
    color: darken($active-color, 20%);
}
.active {
    background-color: $active-color;
}
.hidden {
    display: none;
}